<!-- form -->
<form class='post' id='post_1'>
  John Doe
  <label for='name'>Name</label>
  <input id='name' value='John Doe'>
  <label for='email'>Email</label>
  <input id='email' value='john@example.com'>
</form>

<form class='post' id='post_2'>
  Jane Doe
  <input id='name' value='Jane Doe'>
  <input id='email' value='jane@example.com'>
</form>

<form class='post' id='post_3'>
  Jane Doe
  <input id='name' value='Jane Doe'>
  <input id='email' value='jane@example.com'>
</form>
